:root {
  --bckrnd-clr-hdr: #FFFFFF;
  --bckrnd-clr-ftr: #2F303A;
  --bckrnd-clr-hero: #2F303A;
  --bckrnd-clr-comnd: #F5F4FA;
  --accent-clr-elmnts: #2196F3;
  --clr-btns-accent: #2196F3;
  --clr-btns-nrml: #F5F4FA;
  --color-contacts-ftr: rgba(255, 255, 255, 0.6);
  --color-text-primary: #757575;
  --tittle-clr-bold: #212121;
  --text-wght-nrml: 400;
  --text-wght-nrml2: 500;
  --tittle-wght-bold: 700;
  --tittle-wght-bol2: 900;
  --font-fmly-logo: 'Raleway', sans-serif;

}

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #757575;
}
.footer-bckrgnd-clr {
  background-color: var(--bckrnd-clr-ftr);
}
.comnd-bckrgnd-clr {
  background-color: var(--bckrnd-clr-comnd);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.test-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* ---------------------------ШАПКА СТОРІНКИ */

/* ЛОГОТИПЧИК ШАПКА */

.logo-hdr {
  font-family: var(--font-fmly-logo);
  font-weight: var(--tittle-wght-bold);
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-hdr .logo-blue {
  color: var(--accent-clr-elmnts);
}

/* НАВІГАЦІЯ САЙТОМ */

.nav-links {
  font-weight: var(--text-wght-nrml2);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--tittle-clr-bold);
}

.nav {
  color: var(--tittle-clr-bold);
}

.nav-links .nav.nav-current {
  color: var(--accent-clr-elmnts);
}

.nav-links .nav:focus,
.nav-links .nav:hover {
  color: var(--accent-clr-elmnts)
}

.nav-links .nav:active {
  color: var(--accent-clr-elmnts)
}

/* КОНТАКТИ ШАПКА */

.contacts {
  font-weight: var(--text-wght-nrml2);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text-primary);
}

/* email */
.contacts .mail {
  color: var(--color-text-primary);
}

.contacts .mail:focus,
.contacts .mail:hover {
  color: var(--accent-clr-elmnts)
}

.contacts .mail:active {
  color: var(--accent-clr-elmnts)
}

/* tel */
.contacts .tel {
  color: var(--color-contacts);
}

.contacts .tel:focus,
.contacts .tel:hover {
  color: var(--accent-clr-elmnts)
}

.contacts .tel:active {
  color: var(--accent-clr-elmnts)
}


/* ---------------------------ОСНОВНА ЧАСТИНА */


/* ---------------------------ПІДВАЛ СТОРІНКИ */

/* ЛОГОТИПЧИК ФУТЕР */

.logo-ftr {
  font-family: var(--font-fmly-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.logo-ftr .logo-blue {
  color: var(--accent-clr-elmnts);
}

/* КОНТАКТИ ФУТЕР */

.contacts-ftr {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* address footer */

.contacts-ftr .address {
  color: #FFFFFF
}
.contacts-ftr .address:focus,
.contacts-ftr .address:hover {
  color: var(--accent-clr-elmnts)
}
.contacts-ftr .address:active {
  color: var(--accent-clr-elmnts)
}

/* email footer */
.contacts-ftr .mail-ftr {
  color: var(--color-contacts-ftr);
}
.contacts-ftr .mail-ftr:focus,
.contacts-ftr .mail-ftr:hover {
  color: var(--accent-clr-elmnts)
}
.contacts-ftr .mail-ftr:active {
  color: var(--accent-clr-elmnts)
}

/* tel footer */
.contacts-ftr .tel-ftr {
  color: var(--color-contacts-ftr);
}
.contacts-ftr .tel-ftr:focus,
.contacts-ftr .tel-ftr:hover {
  color: var(--accent-clr-elmnts)
}
.contacts-ftr .tel-ftr:active {
  color: var(--accent-clr-elmnts)
}