/* ------------------------ШАПКА СТОРІНКИ portfolio */

/* ------------------------ОСНОВНА ЧАСТИНА portfolio */

/* ---------------ФІЛЬТР */

/* КНОПКИ ФІЛЬТР */

.btns-fltr .btn-f {
  background-color: var(--clr-btns-nrml);
  color: var(--tittle-clr-bold);

  /* НЕ ПРАЦЮЄ ТОВЩИНА 500 жодним методом але працювало. 
  на наваігаційних посилання працює. 
  і на кнопці "замовити послугу" працює. Візуально ефекту немає */
  font-weight: var(--text-wght-nrml2);
  font-weight: 500;

  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
}

.btns-fltr .btn-f:focus,
.btns-fltr .btn-f:hover {
  background-color: var(--clr-btns-accent);
  color: #ffffff;
}

/* РОЗКЛАДКА РОБІТ */

.portf-card .p-card-tittle {
  color: var(--tittle-clr-bold);
  font-weight: var(--tittle-wght-bold);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portf-card .p-card-text {
  color: var(--color-text-primary);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
/* ------------------------ПІДВАЛ СТОРІНКИ portfolio */