/* ---------------------------ШАПКА СТОРІНКИ */

/* ---------------------------ОСНОВНА ЧАСТИНА */

/* ----------ГЕРОЙ */

/* ТЕКСТ ГЕРОЙ */
.text-hero {
font-weight: var(--tittle-wght-bol2);
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}

/* ЗАМОВИТИ ПОСЛУГУ КНОПКА */
.button {
  background-color: var(--accent-clr-elmnts);
  align-items: center;
}
.button .btn-text {
    font-weight: var(--tittle-wght-bold);
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

/* ----------ОСОБЛИВОСТІ */

.spcls .spcls-tittles {
  font-weight: var(--tittle-wght-bold);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tittle-clr-bold);
}
.spcls .spcls-text {
    font-weight: var(--text-wght-nrml);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--color-cpecls-text);
}

/* ----------ЧИМ МИ ЗАЙМАЄМОСЬ */

.work-tittle {
    font-weight: var(--tittle-wght-bold);
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--tittle-clr-bold);
}
/* ----------НАША КОМАНДА */
.comnd-tittle {
    font-weight: var(--tittle-wght-bold);
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--tittle-clr-bold);
}

/* ІМЕНА ПРАЦІВНИКІВ */
.wrkr-card .wrkr-name {
  font-weight: var(--text-wght-nrml2);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tittle-clr-bold);
  
}

/* ПОСАДИ ПРАЦІВНИКІВ */

.wrkr-card .wrkr-position {
    font-weight: var(--text-wght-nrml);
    font-size: 16px;
    line-height: 1.2x;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-cpecls-text);
}

/* КАРТИ ЯК ПОСИЛАННЯ  */
.wrkr-card .card:focus,
.wrkr-card .card:hover {
  color: var(--accent-clr-elmnts)
}
.wrkr-card .card:active {
  color: var(--accent-clr-elmnts)
}



/* ---------------------------ПІДВАЛ СТОРІНКИ */
